{%extends "base.html"%}
{% load urlify %}

    {% block head_title %}
        {{instance.Title}} | {{block.super}}
    {%endblock head_title%}
    {%block content%}
    <div class="col-sm-7 sol-sm-offset-4">
        <h1>{{instance.Title}}   <small> {{instance.publish}}</small></h1>

        {%if instance.image%}
        <img src="{{instance.image.url}}" class= "img-responsive"/>
        {%endif%}

        <mark>
        {{instance.Content}}<br/>
        </mark>
        <hr/>
        {%if instance.draft%}
        <span id="draft">Draft</span>
        {%endif%}

        {% if instance.user.get_full_name %}
        <p class="author">Author:{{instance.user.get_full_name}}</p>
            <hr/>
            <p><a href="edit" class="btn btn-warning" role="button">Edit</a>
            <a href="delete" class="btn btn-danger" role="button">Delete</a></p>

        <div class="fb-like" data-href="{{request.build_absolute_uri}}" data-layout="standard"
             data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
        {%endif%}

        <hr/>
        <p>
            <div class="fb-comments" data-href="{{request.build_absolute_uri}}" data-numposts="5">
            </div>
        </p>
        <!--</p>-->

        <!--<a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}">-->
            <!--Facebook-->
        <!--</a>-->
        <!--<a href="https://twitter.com/home?status={{instance.Content | urlify}}%20{{request.build_absolute_uri}}">-->
            <!--Twitter-->
        <!--</a>-->
        <!--<a href='https://plus.google.com/share?url={{request.build_absolute_uri}}'>Google Plus</a>-->
        <!--<a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_uri}}&title={{instance.Title}}&summary={{share_string}}&source={{request.build_absolute_uri}}">-->
            <!--Linkedin-->
        <!--</a>-->
        <!--<a href="http://www.reddit.com/submit?url={{request.build_absolute_uri}}&title={{instance.Title}}&summary={{share_string}}">-->
            <!--Reddit-->
        <!--</a>-->

    </div>

    {%endblock content%}